.title {
    font-size: 3.5rem;
    margin-top: 10vh;
}

.card {
    margin: 5vh auto;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}

@media (min-width: 769px) {
    .card {
        width: 60%;
    }
}
