.title {
    font-size: 3.5rem;
    margin-top: 10vh;
}

.card {
    margin: 5vh auto;
    background: white;
    border-radius: 50px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}

@media (min-width: 769px) {
    .card {
        width: 60%;
    }
}

.table {
    text-align: left;
    padding: 50px 20px;
    margin: 0 auto;
    font-size: 1.5rem;
}

.table tr {
    margin-bottom: 20px;
}

.icons {
    text-align: center;
}
