@import 'tailwindcss';

@layer components {
	.card-base {
		@apply bg-neutral-900 rounded-xl hover:bg-neutral-800 transition border border-neutral-800;
	}
}

@utility grid-areas-* {
	grid-template-areas: --value([\*]);
}

@utility grid-area-* {
	grid-area: --value([\*]);
}

@theme {
	--grid-areas-layout: 'header' 'main' 'footer';

	--grid-area-header: header;
	--grid-area-main: main;
	--grid-area-footer: footer;
}
