@media (max-width: 768px) {
    .home-page__title {
        font-size: 2rem;
        margin-top: 20vh;
    }
}

@media (min-width: 769px) {
    .home-page__title {
        font-size: 3.5rem;
        margin-top: 40vh;
    }
}