.side-drawer {
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 300px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-drawer.open {
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
    transform: translateX(0);
}

.side-drawer__title-area {
    height: 56px;
    background: #df4848;
}

.side-drawer__title {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0;
}

.side-drawer ul {
    height: 100%;
    padding: 0 0;
    margin: 0 0;
    list-style: none;
    justify-content: center;
}

.side-drawer li {
    padding: 1rem 0;
    padding-left: 1rem;
    border-bottom: thin solid black;
    color: black;
}

.side-drawer li:hover,
.side-drawer li:active {
    background-color: #c2203b;
}

.side-drawer a {
    text-decoration: none;
    font-size: 1.2rem;
}

@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}