.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 56px;
    background: #df4848;
}

.navigation {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-left: 1rem;
}

.title {
    color: white;
    font-size: 1.5rem;
    padding: 0 1rem;
    text-decoration: none;
}

.spacer {
    flex: 1;
}

.navigationItems {
    height: 100%;

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    & li {
        padding: 16px 1rem;
    }

    & li:hover,
    & li:active {
        background-color: #c2203b;
    }

    & a {
        color: white;
        text-decoration: none;
    }
}

.navbar__navigation-items .navbar__navigation-items li:hover,
.navbar__navigation-items li:active {
    background-color: #c2203b;
}

@media (max-width: 768px) {
    .items {
        display: none;
    }
}

@media (min-width: 769px) {
    .toggleButton {
        display: none;
    }

    .title {
        padding: 0 0rem;
    }
}
