.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 56px;
    background: #df4848;
}

.navbar__navigation {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-left: 1rem;
}

.navbar__title{
    color: white;
    font-size: 1.5rem;
    padding: 0 1rem;
    text-decoration: none;
}

.spacer {
    flex: 1;
}

.navbar__navigation-items {
    height: 100%;
}

.navbar__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar__navigation-items li {
    padding: 16px 1rem;
}

.navbar__navigation-items li:hover,
.navbar__navigation-items li:active {
    background-color: #c2203b;
}

.navbar__navigation-items a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar__navigation-items {
        display: none;
    }
}

@media (min-width: 769px) {
    .navbar__toggle-button {
        display: none;
    }

    .navbar__title{
        padding: 0 0rem;
    }
}