.skills-page__title {
    font-size: 3.5rem;
    margin-top: 10vh;
}

.skills-page__container {
    max-width: 1200px;
    margin: 5vh auto;
}

.skills-page__card {
    max-width: 400px;
    height: 300px;
    margin-bottom: 30px;
}