name: "Auto Assign"
run-name: "${{ github.workflow }} (${{ github.ref_name }}): ${{ github.event.pull_request.title }}"
on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review

defaults:
  run:
    shell: bash

jobs:
  assign:
    runs-on: ubuntu-slim
    timeout-minutes: 2
    permissions:
      pull-requests: write
    steps:
      - name: Assign PR to author if no assignees
        if: ${{ github.event.pull_request.user.type != 'Bot' && toJSON(github.event.pull_request.assignees) == '[]' }}
        run: gh pr edit $NUMBER --add-assignee $ASSIGNEE
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.pull_request.number }}
          ASSIGNEE: ${{ github.event.pull_request.user.login }}
